{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block stylesheets %}
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/pokemon.css' rel='stylesheet'>
    <link rel="stylesheet" href="assets/style.css">
{% endblock %}

{% block body %}

    <div class="header">
        <div class="header-container">
            <a href="{{ path('app_home_page') }}">Jouer</a>
            <div class="profile-actions">
                <a href="{{ path('app_account') }}">Voir mon profil | {{ user }}</a>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        </div>
    </div>



    <div class="example-wrapper">
        <div class="logout-container">
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
        <h1>Profil du joueur</h1>
        <p class="name">{{ user }}</p>
        <a href="{{ path('app_pokedex') }}">Mon Pokédex</a>
        <a href="#">Mes Pokémons</a>
        <a href="{{ path('app_trade') }}">Échanger mes pokémons</a>
        <i class="gg-pokemon pokemon-icon"></i>
    </div>
{% endblock %}
