{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" href="assets/style.css">
<div class="header">
    <div class="header-container">
        <a href="{{ path('app_home_page') }}">Jouer</a>
        <div class="profile-actions">
            <a href="{{ path('app_account') }}">Voir mon profil | {{ user }}</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    </div>
</div>

<div class="example-wrapper">
    <h1>Pokedex</h1>
    {% if (pokemons|length)%}
        <ul class="pokedex-list">
    {% for pokemon in pokemons %}
        {% if pokemon in catched %}
            <li class="pkm">
                <img class="pokemon-image" src="{{pokemon.img}}">
                <p>N°{{pokemon.num}} - {{pokemon.name}}</p>
            </li>
        {% else %}
            <li class="pkm">
                <img class="pokemon-image unknow" src="{{pokemon.img}}">
                <p>N°{{pokemon.num}} - ???</p>
            </li>
        {% endif %}

    {% endfor %}
        </ul>
    {% endif %}
      

    </div>
</div>
{% endblock %}

